__pycache__/
*.pyc
*.html
experiments/*/
!experiments/.gitkeep

# Virtual environments
.venv/
venv/
env/

.pytest_cache/
.env
*.egg-info/
dist/
build/
tournament/results/*
!tournament/results/.gitkeep

# Data
data/

runs/
